* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: rgba(12, 1, 22, 0.959);
}


.container {    
    max-width: 400px;
    width: 100%;
    margin: auto 300px;
    position: fixed;
}

#formulario {
    background: #fdf9f9;
    padding: 25px 25px 50px 25px;
    margin: 55px 0;
    border: 1px solid;
    border-radius: 5px;
}

#formulario h1 {
    margin: 20px 0;
    padding: 5px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
} 

span {
    padding: 5px;
}


.fields {
    padding: 2.5px;
    border: 1px solid;
    text-align: center;
    margin: 10px 0;
    background: blue;
    color: white;
    border-radius: 5px;
}

.fields a {
text-decoration: none;
color: white;
font-size: 15px;
padding: 0 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.circle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #fdf9f9;
    clip-path: circle(30% at right 100%);
}

.circle2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #fdf9f9;
    clip-path: circle(10% at left 0);

}