* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: rgba(12, 1, 22, 0.959);
    font-family: "Poppins", sans-serif;
}


.container {    
    max-width: 400px;
    width: 100%;
}

#formulario {
    width: 400px;
    background: #fdf9f9;
    padding: 25px 25px 50px 25px;
    margin: 55px 400px;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
}


@media screen and (max-width: 768px) {
    #formulario {
        padding: 25px 25px 50px 25px;
        width: 100%;
        height: 100% !important; 
        z-index: 1;
        border-radius: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1068px) {
    #formulario {
        padding: 25px 25px 50px 25px;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 0;
        margin: 0;
    }
}


#formulario h1 {
    margin: 20px 0;
    padding: 5px;
    font-size: 30px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
} 

span {
    position: relative;
}

input:valid + span::before {
    content: "✓";
    color: green;
    
}

input:valid, span:valid {
    border-color: green
}


input + span {
    position: absolute;
    right: 40px;
}

.span {
    padding: 5px;
}


.fields {
    padding: 2.5px;
    border: 1px solid;
    text-align: center;
    margin: 10px 0;
    background: rgba(0, 0, 255, 0.74);
    color: white;
    border-radius: 5px;
}

.fields a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 0 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 255, 0.74);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.circle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #fdf9f9;
    clip-path: circle(30% at right 100%);
}

.circle2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #fdf9f9;
    clip-path: circle(10% at left 0);

}